[submodule "applications/only-pos"]
	path = applications/only-pos
	url = git@github.com:cupid-22/only-pos.git
	branch = main
[submodule "applications/only-menu"]
	path = applications/only-menu
	url = git@github.com:cupid-22/only-menu.git
	branch = main
