applications/*/.idea/*
/docs/build/
/.venv/
.sonarlint/conf/
/.idea
/service
/resources
/jobs
/.env
/poetry.lock
/docs/source/implementation/
/applications/only-pos/.idea/
/applications/only-menu/.idea/