.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
}
